:host {
  display: block;
}

h3 {
  text-align: center;
}

.mx-3 {
  font-size: large;
  font-weight: 700;
  padding: 10px;

}

.Enterbutton {
  background-color: #9735be;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Enterbutton:hover {
  background-color: aquamarine;
  color: #9735be;
  font-size: larger
}

.background-color {

  color: aquamarine;
  margin: auto;
}

.m-auto {

  display: inline-flex;
  background-color: #c490d8;
  flex-direction: column;
  margin: 50px 300px;
}

input {
  display: table;
}