<div class="layout-header">
    <div class="layout-header__menu">
    <p-menubar [model]="items">
      <ng-template pTemplate="end">  
        </ng-template>
      </p-menubar>
        <div class="d-flex">
  
          <div class="ms-2">
            <div>{{datetime | date: 'HH:mm:ss'}}</div>
            <p class="p-0 m-0">{{datetime | date: 'EEEE'}}</p>
          </div>
          <p-button
          label="Выйти"
          (click)="onLogout()"/>

          
      
 </div>
      
  
</div>
</div>
