

.card {
    display: flex;
    flex-direction: column;
}
img {

    height:150px;
}
.item-enter {
  
    display: flex;
    justify-content: center;
}

.session-book{
    display: flex;
flex-direction: column;
justify-content: center;
}

.my-3{
    margin-top: 20px;
}