/*
img {
    height: 250px;
     display: flex;
    justify-content: ceil($number: 0);
  
    padding: 5px 2px;

   }
   .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    position: absolute;
   }
img:hover{
  filter: drop-shadow(0 35px 25px rgba(0, 0, 0, .4));
  transform: translateY(-10px); 
  transform: scale(1.02);
  transition: .3s ease-in-out;
}

.item-enter {
    display: flex;
    justify-content: center;

}
.card{
     display: flex;
    justify-content: center;
    width: 30%;
}

h3{
      display: flex;
    justify-content: center;
    color: rgb(221, 4, 116);
    margin: 0;
}
p{

    font-size: 20px;
    justify-items: center;
}

*/
/*
.calendar {
margin-bottom: 10px;
margin-top: 10px;
}
p-datepicker{
padding-bottom: 10px;

}*/
/*.w-full{
   display: inline-block;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, .1);
    background: #c2b3b3;
     width: 430px;
    height: 580px;
    margin-top: 19,92px;
    align-items: center;
   
}



.session-book {
display: block;
width: 400px;
float:right;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
   }


.width{
    height: 580px;
}.w-full{
   display: flex;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, .1);
    background: #d35454;
     width: 430px;
    height: 580px;
    margin-top: 19,92px;
    align-items: center;
   
}*/

/*.sessions{
     display: flex;
     background-color: aquamarine;

}
img {
    height: 250px;
     display: flex;
    justify-content: ceil($number: 0);
    padding: 5px 2px;
   }
img:hover{
  filter: drop-shadow(0 35px 25px rgba(0, 0, 0, .4));
  transform: translateY(-10px); 
  transform: scale(1.02);
  transition: .3s ease-in-out;
}*/
/*.card{
     display: flex;
    justify-content: center;
    align-items: center;

}
*/
.container {
     display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 50px 20px;
    height: 100%;
  /*display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 20px;*/
}
.img{
    height: 250px;
    width: 270px;
 //    display: flex;
 // justify-content: space-between;
    padding: 20px;
  
    margin: 5px;
}
img:hover{
  filter: drop-shadow(0 35px 25px rgba(0, 0, 0, .4));
  transform: translateY(-20px); 
  transform: scale(1.02);
  transition: .3s ease-in-out;
}

li{
display: block;
list-style: none;
  
}
.button-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    padding-left: 0;
}
.pbutton:hover{
  filter: drop-shadow(0 10px 25px rgba(238, 149, 224, 0.4));
  transform: translateY(-20px); 
  transform: scale(1.02);
  transition: .3s ease-in-out;
}

.pbutton {
  //  padding: 8px, 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
     border-radius: 5px;
 border-color:rgba(181, 65, 189, 0.401);
  margin-top: 10px;
  height: 50px;
  width: 200px;
   background-color:rgba(176, 42, 186, 0.556);
  display: block;
 
 
}
.card{

    text-align: center;

   }
  
/*.container{
 display: flex;
justify-content: space-between;


}*/
/*.group{
     display: inline-block;
    border-radius: .5rem;
    background-color: rgba(235, 101, 101, 0.1);
    background: #fff;
     width: 300px;
    height: 300px;
    padding:10px;

   
}


input{
    margin: 10px;
}*/
/* display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;*/