.w-full{
    display: flex;
    justify-content:center;
    align-items: stretch;
    padding:50px 20px;

}

img{
    height: 250px;
   
}
h2{
    font-size: 50px;
     display: flex;
    justify-content:center;
    color: rgb(221, 188, 4);
}

.glory-container{
    height: 500px;
 
}
