.w-full {
    height: 200px;
    width: 220px;
    padding: 20px;
    margin: 5px;
}

.align-items-stretch {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 50px 20px;
    height: 100%;
}
.ent-p-card{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.col-3{
    text-align: center;

   
}
