
.w-full {
    height: 220px;
    width: 220px;
    padding: 20px;
    margin: 5px;
}

.align-items-stretch {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 50px 20px;
    width: 80%;
    height: 600px;
}
.ent-p-card{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.col-3{
    text-align: center;
   
}
.col-3:hover{
    filter: drop-shadow(0 35px 25px rgba(0, 0, 0, .4));
  transform: translateY(-20px); 
  transform: scale(1.02);
  transition: .3s ease-in-out;

}
