.session-booking {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 100px;
}

.date-picker {
  margin-bottom: 20px;
}

.date-picker input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sessions-list {
  margin-top: 20px;
}

.session-card {
  font-size: smaller;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}

.session-time {
  font-weight: 100;
  font-size: 1em;
  display: flex;
 flex-direction: column;
  margin: 5px;
}

.book-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.book-button:hover {
  background-color: #45a049;
}

.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.alert-success {
  background-color: #dff0d8;
  color: #3c763d;
}

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
}

p-button{
  margin: 10px;
}
div{
  align-items: center;
  text-align: center;
  margin: 1px;
  padding: 1px;
}