<p>timebooking works!</p>
<div class="time-booking-container">
  <h3>Выберите время:</h3>
  <div class="date-display" *ngIf="selectedDate">
    {{ selectedDate | date:'fullDate' }}
  </div>
  
  <div class="time-slots-grid">
    <div *ngFor="let slot of timeSlots" 
         [class]="getTimeSlotClass(slot)"
         (click)="selectTimeSlot(slot)">
      {{ slot.startTime }} - {{ slot.endTime }}
    </div>
  </div>

  <form  *ngIf="selectTimeSlot" class="booking-form">
    <h3>Данные для записи</h3>
    
    

  </form>
</div>