:host {

    height: 100px;
    width: 100%;
    display: block;
}

.layout-footer {
    padding: 2rem 0;
  background:  linear-gradient( rgba(#ea89ca, 0.8), rgba(#b73de7, 0.8));
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between; 
  align-items: center;
   /* 
    
    gap: 8px;
   // background: linear-gradient(rgba(#ea89ca, 0.8), rgba(#b73de7, 0.8));
    color: #fff;
    padding: 2rem, 0;
    margin: 0;
   */

}
.foot{
    margin-left: 115px;
}
.line__bottom{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ms-2 {
    text-align: center;
    padding-right: 30px;
}

.m-0 {
    margin: 0;
}