<div class="flex flex-column h-full">
    <header>
        <app-header></app-header>
    </header>
    <div class="main-content flex flex-1 p-3 overflow-hidden">
        @if (showAside) {
        <div class="aside"><app-aside></app-aside></div>
        }
         @if (showAsideCopy) {
        <div class="aside"><app-aside-copy></app-aside-copy></div>
        }
        <div class="flex-grow-1 overflow-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>
<!--<app-loader [loaderStatus]="loader$ | async"/>-->