:host {
  width: 200px;
  flex-basis: 300px;
  min-width: 300px;
}

.m-3 {
  width: 20%;
  background:linear-gradient( rgb(81, 27, 81), 0.8); //rgb(81, 27, 81);
  float: right;
}

h4 {
margin: 5px;
  font-size: 1rem;
  color: #060606;  //#060606
}
.groupbutton{
  margin-bottom: 10px;
  margin-top: 5px;
}
.my-6 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.group {
  height: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
  transition: color 0.2s;

  &:hover {
    color: #333;
  }
  .width {
  display: inline-block;
  width: 100%;
  //margin-bottom: 10px;
 // margin-left: 10px;
}
}
/*


.my-3 {
  margin-left: 10px;
}

button {
  margin-left: 10px;
}

*/


/**/