<div class="container">
 
    <div class="aside m-3">
      <div class="group">
        <h4>Выберите возрастную категорию</h4>
        <div class="width">
          <p-select [options]="enterTypes" [(ngModel)]="selectedType" (onChange)="changeEnterType($event)"
            optionLabel="label" placeholder="Выберите возрастную категорию" />
        </div>

   <!-- <h4>Выберите дату сеанса</h4>
          <p-datepicker 
    [showIcon]="true"
    [(ngModel)]="date" 
    (onSelect)="changeDate($event)"
    [showButtonBar]="true"
    dateFormat="dd-mm-yy"
   >
  </p-datepicker> -->
        <div class="groupbutton">
          <div class="my-6">
            <p-button label="Авторизация" [disabled]="isAuth()"  (click)='initAuth($event)'></p-button>
          </div>
          <div class="my-6">
            <p-button label="Регистрация" [disabled]="isAuth()" (click)='initReg($event)'></p-button>
          </div>
        </div>

      </div>
    </div>
  </div>

   
 <!-- <div class="my-3">
    <p-datepicker 
    [showIcon]="true"
    [(ngModel)]="date" 
    (onSelect)="changeDate($event)"
    [showButtonBar]="true"
    dateFormat="dd-mm-yy"
    (onClearClick)="clearDate($event)">
  </p-datepicker> 
  </div>
-->