
 input{
  display: table;
 }
/*.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: wrap;
  margin: auto;
}

.mx-3 {
  font-size: large;
  font-weight: 700;
  padding: 10px;

}
 .m-auto {

  display: inline-flex;
  background-color: #c490d8;
  flex-direction: column;
  margin: auto;
  padding: auto;
  justify-content: center;
  clear: both;
  text-align: center;
}

.ml-2 {
  color: aquamarine;
  margin: auto;
}

span {
  float: left;
}
.Enterbutton {

  border: none;
  color: #9735be;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Enterbutton:hover {
  background-color: aquamarine;
  color: #9735be
}


.background-color {

  color: aquamarine;

  margin: auto;
  clear: both;
  text-align: center;
}




*/
