.container{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
h3,
.gap-4{
  display: block;
text-align: center;
}
 input{
  display: table;
  height: 30px;
    border-radius: 3px;

 }/*
.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: wrap;
  margin: auto;
}*/

/*.mx-3 {
  font-size: large;
  font-weight: 700;
  padding: 10px;

}*/
 .m-auto {

  display: block;
  background-color: #c490d8;
  flex-direction: column;
  margin: auto;
  padding: auto;
  clear: both;
  text-align: center;
}
/*
.ml-2 {
  color: aquamarine;
  margin: auto;
}

span {
  float: left;
}
.Enterbutton {

  border: none;
  color: #9735be;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.Enterbutton:hover {
  background-color: aquamarine;
  color: #9735be
}


.background-color {

  color: aquamarine;

  margin: auto;
  clear: both;
  text-align: center;
}


.flex-wrap {
    margin: 20px;
}


.m-auto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
*/


