input {
    display: table;
    height: 30px;
    border-radius: 3px;
}

.flex-wrap {
    margin: 20px;
}

h3 {
    display: block;

}

.m-auto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}