<div class="container mt-5">
<p-button 
label="Назад"
styleClass="p-button-link"
routerLink="/"
></p-button>
  <h2 class="text-center mb-4">Запись на развлекательный сеанс</h2>

  <form [formGroup]="orderForm" (ngSubmit)="initOrder()" novalidate>

    <div class="card flex justify-center">
      <label for="clientName">ФИО</label>
      <input type="text" pInputText id="clientName" formControlName="clientName" class="form-control">
    </div>
      <div class="card flex justify-center">
    <label for="childName"> Имя ребенка</label>
    <input type="text" pInputText id="childName" formControlName="childName" class="form-control">
</div>
  <div class="card flex justify-center">
    <label for="age">Возраст ребенка</label>
    <input type="text" pInputText id="age" formControlName="age" class="form-control">
</div>
  <div class="my-3">
       <label for="birthDate">День рождения ребенка</label>
    <input type="date" pInputText id="birthDate" formControlName="birthDate" class="form-control">

  </div>
   <div class="my-3">
    <p>Выберите развлечениe</p>
      <p-select [options]="enterId" [(ngModel)]="selectedEnter" optionLabel="name"
        placeholder="Выберите вид развлечения" formControlName="enterId" />
    </div>

 <div class="my-3">
       <label for="date">Дата сеанса</label>
    <input type="date" pInputText id="date" formControlName="date" [min]="minDate" class="form-control">

  </div>
   
  
    <div>
      <label for="session" formControlName = "session">Время сеанса</label>
       <input type="text" pInputText id="session" formControlName="session" class="form-control">
       @for (item of sessionId; track item.id) {
      <select  [class.btn-primary]="orderForm.get('sessionId')?.value?.startTime === item.startTime"
          [class.btn-outline-secondary]="orderForm.get('sessionId')?.value?.startTime !== item.startTime"
          [disabled]="!item.isAvailable" (click)="orderForm.get('session')?.setValue(item)" class="btn btn-sm m-1">
        {{item.startTime}}-{{item.endTime}}
   ></select>
       }
 


      
</div>
      <!-- <button type="button" formControlName = "session" *ngFor="let slot of availableTimeSlots"
          [class.btn-primary]="orderForm.get('sessionId')?.value?.startTime === slot.startTime"
          [class.btn-outline-secondary]="orderForm.get('sessionId')?.value?.startTime !== slot.startTime"
          [disabled]="!slot.isAvailable" (click)="orderForm.get('timeSlot')?.setValue(slot)" class="btn btn-sm m-1">
          {{slot.startTime}} - {{slot.endTime}}
          <span *ngIf="!slot.isAvailable" class="badge badge-danger ml-1">Занято</span>
        </button>--> 
 
 


    <label for="participants">Количество участников</label>
    <input type="number" pInputText id="participants" formControlName="participants" min="1" class="form-control">



    <p-button type="submit" class="btn btn-primary btn-lg" (click)="initOrder()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Забронировать
    </p-button>





  </form>
</div>