<div class="enter-info-wrap col-6">
  <div class="container">
  <a routerLink="/">Назад</a>
  <div class="mt-3">
  <h2>Запись на развлекательный сеанс</h2>
  <h3>{{enter?.name}}</h3>
</div>
  <form [formGroup]="orderForm" novalidate>
    <!-- @for (fieldObj of orderFormArr; track fieldObj.control) {
                <ng-container
                    [ngTemplateOutlet] = ''
                    [ngTemplateOutletContext] = 'fieldObj'
                  
     }-->
    <div class="form-group mt-3">
      <label for="clientName">ФИО родителя</label>
      <input type="text" pInputText id="clientName" formControlName="clientName" class="form-control mt-3"
      [ngClass]="{'input-error': !clientName}"
        [(ngModel)]="clientName" />
    </div>
    <div class="form-group mt-3">
      <label for="childName"> Имя ребенка</label>
      <input type="text" pInputText
       id="childName"
        formControlName="childName"
       class="form-control"
         [(ngModel)]="childName" />
    </div>
    <div class="form-group mt-3">
        <label>Возраст ребенка</label>
      <p-inputNumber type="age" id="age" formControlName="age" [showButtons]="true" min="4"
        [(ngModel)]="age"
        [ngClass]="{'input-error': !age}"
        class="form-control">
      </p-inputNumber>
    </div>
   
      <div class="form-group mt-3">
      <label class="mx-3">Дата сеанса</label>
      <p-datepicker [showIcon]="true" name="date"
       formControlName="date"
        class="form-control mt-3"
        [showButtonBar]="true"
        dateFormat="dd-mm-yy"
         [(ngModel)]="date"
        [ngClass]="{'input-error': !date}">
      </p-datepicker>
    </div>

    <div class="form-group mt-3">
      <label for="session">Время сеанса</label>
      <input type="text" pInputText id="sessionChoice" formControlName="sessionChoice" class="form-control mt-3"
        [(ngModel)]="sessionChoice"
        [ngClass]="{'input-error': !sessionChoice}" />
      <!-- @for (item of sessionChoice1; track item.id) {
      <select  [class.btn-primary]="orderForm.get('sessionId')?.value?.startTime === item.startTime"
          [class.btn-outline-secondary]="orderForm.get('sessionId')?.value?.startTime !== item.startTime"
          [disabled]="!item.isAvailable" (click)="orderForm.get('session')?.setValue(item)" class="btn btn-sm m-1">
        {{item.startTime}}-{{item.endTime}}
   ></select>
       }-->




    </div>
    <!-- <button type="button" formControlName = "session" *ngFor="let slot of availableTimeSlots"
          [class.btn-primary]="orderForm.get('sessionId')?.value?.startTime === slot.startTime"
          [class.btn-outline-secondary]="orderForm.get('sessionId')?.value?.startTime !== slot.startTime"
          [disabled]="!slot.isAvailable" (click)="orderForm.get('timeSlot')?.setValue(slot)" class="btn btn-sm m-1">
          {{slot.startTime}} - {{slot.endTime}}
          <span *ngIf="!slot.isAvailable" class="badge badge-danger ml-1">Занято</span>
        </button>-->



    <div class="form-group mt-3">
      <label>Количество участников</label>
      <p-inputNumber type="number" id="participants" formControlName="participants" [showButtons]="true" min="1" max="10"
        [(ngModel)]="participants"
        [ngClass]="{'input-error': !participants}" class="form-control">
      </p-inputNumber>
    </div>

    <div class="form-group mt-3">
      <div class = 'orderbutton'>
      <p-button 
      [disabled]="!orderForm.valid"
    label="Забронировать"
      (click)="initOrder()">
      </p-button>
    </div>
    </div>
  </form>
</div>
</div>
