input {
  display: table;
}

.form-control {
  display: table;
  margin: 5px;
}

.mt-5 {
  height: 600px;
}

.container {
  margin-bottom: 5px;
  padding: 5px;
}

.left {
  float: right;
}

.clear {
  clear: both;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h3,
h2 {
  color: blue;
  margin: 8px;
}

.p-button {
  color: blue;
}

label,
.orderbutton {
  margin: 8px;
}