/* You can add global styles to this file, and also import other style files */
input.input-error {
    border: 1px solid red;
}

p-inputNumber.input-error {
    border: 1px solid red;
    border-radius: 5px;
}

p-datepicker.input-error {
    border: 1px solid red;
    border-radius: 5px;
}

.p-card-title {
    text-align: center;
}
.p-select{
    width: 250px;
}
